.head-title{
    text-align: center;
    text-transform: capitalize;
    letter-spacing:2px;
    font-size: 70px;
    margin-top:100px;

}
.container{
    width:60%;
    max-width: 700px;
    margin: 0 auto;

    
}
.container header{
    height:200px;
    background-color: darkblue;
    position: relative;
}
.header-title{
    text-transform:capitalize  ;
    text-align:center;
    color:white;
    
    padding: 80px;
    
}
.icon{
   position: absolute;
    top:10px;
    right:10px;
    font-size: 20px;
    color: black;
    background-color: white;
    margin-right: 20px;
    border-radius: 50%;
    border-color: greenyellow;
    
}
.fa{
    color: hotpink;
}
form{
    max-width: 400px;
    margin: 100px auto;

}
.form-field label{
    text-transform:capitalize;
    padding:10px;
    margin: 100px auto; 
}
.form-input{
    width: 100%;
    display:block;
    border:0;
    border-bottom:2px solid grey;
    padding: 10px;

}
.submit{
    background-color : darkblue;
    border-radius: 50px;
    margin-top: 10PX 20px;
    padding: 20px;
    color:white;
    margin:50px;

}




